{
  "extends": "airbnb-base",
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-underscore-dangle": [
      "off"
    ]
  }
}